/* ****Header**** */

.header {
    padding: 24px 0 8px;
    box-shadow: 0 0 10px #ccc;
    position: sticky;
    top: -16px;
    z-index: 1;

    background-color: var(--white-color);
}

.NavBar-oV__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.MobileMenu-modal {
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 21;
    display: none;
    animation: MobileMenu__fadeIn 0.5s ease;
    -webkit-animation: MobileMenu__fadeIn 0.5s ease;
}

.MobileMenu-body {
    background-color: #fff;
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 60%;
    animation: MobileMenu__SlideIn 0.5s ease;
    -webkit-animation: MobileMenu__SlideIn 0.5s ease;
}

.MobileMenu-body__scroll {
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    max-height: 100%;
    overflow-y: auto;
    padding: 16px 0 0 32px;
}

.MobileMenu-listWrap {
    margin-top: 24px;
}

.MobileMenu-pagWrap {
    border-bottom: 1px solid rgba(0, 0, 0, 0.079);
}

.MobileMenu-pagItem__link {
    display: flex;
    padding: 16px 0 16px 16px;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 20px;
    color: #757575;
}

.MobileMenu-pagItem__link em {
    display: inline-flex;
    align-items: center;
    margin-right: 24px;
}

.MobileMenu {
    display: none;
    width: 50%;
}

.NavBar-Pag__link {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.56;
    color: var(--text-color-default);
    margin: 0 16px;
}

.NavBar-Pag__link:hover {
    text-decoration: underline;
}

/* ****Main**** */
.main {
    margin: 24px 0 32px;
}

.main-intro {
    text-align: center;
    margin: auto 0;
}

.main-intro__title {
    color: var(--primary-color);
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.2;
}

.main-intro__desc {
    display: inline-block;
    width: 375px;
    margin: 24px 0;
    color: var(--primary-color);
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.56;
}

.main-pic-list {
    row-gap: 10px;
}

.main-pic-item {
    position: relative;
    font-size: 2rem;
    cursor: pointer;
}

.pic-intro {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-pic-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: calc(var(--gutter) / 2);
    width: calc(100% - var(--gutter));
    height: 100%;
    border-radius: 20px;
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.4));
}

.cap-intro {
    position: absolute;
    left: 8%;
    bottom: 32px;
    color: var(--white-color);
}

.main-4m {
    margin-top: 24px;
}

.mobi-demo {
    display: flex;
    justify-content: center;
}

.mobi-demo img:nth-child(2) {
    margin-left: -26%;
}

.form {
    width: 100%;
    margin-top: 40px;
    border: 1px solid #ccc;
}

.login-title__wrap {
    margin: 20px 0 24px;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 600;
}

.login-title__img {
    display: block;
    margin: 0 auto 20px;
}

.login-body___wrap {
    margin: 0 auto;
}

.login__wrap__btn {
    cursor: pointer;
    background-color: #fff;
    border: 2px solid #dce0e3;
    border-radius: 44px;
    height: 44px;
    line-height: 1;
    padding-left: 16px;
    position: relative;
    text-align: center;
    width: 320px;

    margin: 0 auto;
}

.login__wrap__btn:hover {
    background-color: #dce0e3;
}

.login__wrap__btn + .login__wrap__btn {
    margin-top: 24px;
}

.login__btn__icon {
    left: 16px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.login__btn__title {
    color: #35414c;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 40px;
    outline: 0;
    text-align: center;
}

.login-toRegister {
    text-align: center;
    margin: 24px auto;
    font-size: 1.4rem;
    line-height: 1.8;
}

.login-toRegister a {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--primary-color);
}

.login-acceptTerm {
    text-align: center;
    font-size: 1.4rem;
    margin: 0 auto 30px;
    cursor: default;
    line-height: 1.6;
}

.login-acceptTerm a {
    display: inline-block;
    margin-top: 6px;
    color: var(--primary-color);
    text-decoration: underline;
}

/* ****Footer**** */

.footer {
    margin: 12px 0;
    color: var(--text-color-foot);
}

.footer-about {
    display: flex;
    justify-content: center;
}

.footer-about a {
    border-left: 1px solid var(--text-color-foot);
    margin-left: 6px;
    padding-left: 6px;
    color: var(--text-color-foot);
}

.footer-about a:first-child {
    border-left: none;
}

.footer-about a:hover {
    text-decoration: underline;
}

.footer-copyright {
    margin-top: 16px;
}
